<!-- <a routerLink="/riders">Goto Riders home page</a>

<h1>Create a Rider Here :</h1>

<form [formGroup]="riderCreationForm" (ngSubmit)="onRiderCreate()">

  <label>Enter your user Name : </label>
  <input type="text" formControlName="username" required /><br /><br />
  @if (firstName?.invalid && (username?.dirty || username?.touched)) {
  @if(username?.hasError('required')) { <i>username is required</i> }
  @if(username?.hasError('minlength')) { username must be 5 characters long.
  } }<br><br>

  <label>Enter your first Name : </label>
  <input type="text" formControlName="firstName" required /><br /><br />
  @if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
  @if(firstName?.hasError('required')) { <i>firstName is required</i> }
  @if(firstName?.hasError('minlength')) { First name must be 5 characters long.
  } }<br><br>

  <label>Enter your last name : </label>
  <input type="text" formControlName="lastName" required /><br /><br />
  @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
  @if(lastName?.hasError('required')) { lastName is required }
  @if(lastName?.hasError('minlength')) { lastName must be 5 characters long. } }<br><br>

  <label>Enter your phone number : </label>
  <input type="tel" formControlName="phoneNumber" required /><br /><br />
  @if (phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)) {
  @if(phoneNumber?.hasError('required')) { phoneNumber is required }
  @if(phoneNumber?.hasError('minlength')) { phoneNumber must be 11 digits long.
  } }<br><br>

  <label>Enter Your Address : </label>
  <input type="text" formControlName="address" /><br /><br />
  @if (address?.invalid && (address?.dirty || address?.touched)) {
  @if(address?.hasError('required')) { address is required }
  @if(address?.hasError('maxlength')) { address max is 50 characters . } }<br><br>

  <label>Enter your Sector : </label>
  <input type="text" formControlName="sector" /><br /><br />
  @if (sector?.invalid && (sector?.dirty || sector?.touched)) {
  @if(sector?.hasError('required')) { sector is required }
  @if(sector?.hasError('maxlength')) { you cannot exceed 10 characters. } }<br><br>

  <label>Enter your street : </label>
  <input type="text" formControlName="street" /><br /><br />
  @if (street?.invalid && (street?.dirty || street?.touched)) {
  @if(street?.hasError('required')) { street is required }
  @if(street?.hasError('minlength')) { Its too long! , try to make it short. } }<br><br>

  <label>Enter you cnic number : </label>
  <input type="text" formControlName="cnicNumber" /><br /><br />
  @if (cnicNumber?.invalid && (cnicNumber?.dirty || cnicNumber?.touched)) {
  @if(cnicNumber?.hasError('required')) { firstName is required }
  @if(cnicNumber?.hasError('minlength')) { Your cnic should be 13 digit number.
  } @if(cnicNumber?.hasError('pattern')) { Invalid CNIC format(sohuld be
  1345-6789012-3) } }<br><br>

  <label>Enter you email : </label>
  <input type="email" formControlName="email" /><br /><br />
  @if (email?.invalid && (email?.dirty || email?.touched)) {
  @if(email?.hasError('required')) { email is required }
  @if(email?.hasError('minlength')) { Your email should be 13 digit number.
  } @if(email?.hasError('pattern')) { Invalid email format(sohuld be userexample.com') } }<br><br>

  <label>Please Enter your password : </label>
  <input type="password" formControlName="password" required/><br><br>
  @if (password?.invalid && (username?.dirty || username?.touched)) 
  {
      @if(password?.hasError('required'))
      {
          password is required.
      }
      @if(password?.hasError('minLength'))
      {
           password must be at least 6 charcters long.
      }
      @if (password?.hasError('pattern')) 
      {
          Password must at least contain one upper alphabet, one lower alphabet and one symbol and one numeric value.
      }
  }<br><br>

  <label>Select The Role u want to give to User : </label>
  <select formControlName="role">
    <option value="">Select A Role</option>
   @for (role of roles  ; track role) {
    <option [value]="role">{{role}}</option>
   }
      
   
  </select><br><br>

  <button type="submit" [disabled]="riderCreationForm.invalid">Submit</button>
</form> -->

<div class="container mx-auto px-4 py-8 max-w-2xl">
  <div class="container mx-auto px-4 py-8 max-w-2xl">
    <div class="mb-6">
      <button
        mat-raised-button
        color="primary"
        routerLink="/riders"
        class="mb-4"
      >
        <mat-icon>arrow_back</mat-icon> Back
      </button>
    </div>

    <form
      [formGroup]="riderCreationForm"
      (ngSubmit)="onRiderCreate()"
      class="bg-white shadow-md rounded-lg p-8 space-y-6"
    >
      <mat-form-field class="w-full">
        <mat-label>Enter your user Name:</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          required
          placeholder="Enter your username"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('username')?.invalid &&
            (riderCreationForm.get('username')?.dirty ||
              riderCreationForm.get('username')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('username')?.hasError('required')"
            >Username is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('username')?.hasError('minlength')"
            >Username must be at least 5 characters long</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your first Name:</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          required
          placeholder="Enter your first name"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('firstName')?.invalid &&
            (riderCreationForm.get('firstName')?.dirty ||
              riderCreationForm.get('firstName')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('firstName')?.hasError('required')"
            >First Name is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('firstName')?.hasError('minlength')"
            >First name must be at least 5 characters long</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your last name:</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          required
          placeholder="Enter your last name"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('lastName')?.invalid &&
            (riderCreationForm.get('lastName')?.dirty ||
              riderCreationForm.get('lastName')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('lastName')?.hasError('required')"
            >Last Name is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('lastName')?.hasError('minlength')"
            >Last name must be at least 5 characters long</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your phone number:</mat-label>
        <input
          matInput
          type="tel"
          formControlName="phoneNumber"
          required
          placeholder="Enter your phone number"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('phoneNumber')?.invalid &&
            (riderCreationForm.get('phoneNumber')?.dirty ||
              riderCreationForm.get('phoneNumber')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('phoneNumber')?.hasError('required')"
            >Phone number is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('phoneNumber')?.hasError('minlength')"
            >Phone number must be 11 digits long</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter Your Address:</mat-label>
        <input
          matInput
          type="text"
          formControlName="address"
          placeholder="Enter your address"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('address')?.invalid &&
            (riderCreationForm.get('address')?.dirty ||
              riderCreationForm.get('address')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('address')?.hasError('required')"
            >Address is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('address')?.hasError('maxlength')"
            >Address max is 50 characters</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your Sector:</mat-label>
        <input
          matInput
          type="text"
          formControlName="sector"
          placeholder="Enter your sector"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('sector')?.invalid &&
            (riderCreationForm.get('sector')?.dirty ||
              riderCreationForm.get('sector')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('sector')?.hasError('required')"
            >Sector is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('sector')?.hasError('maxlength')"
            >You cannot exceed 10 characters</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your street:</mat-label>
        <input
          matInput
          type="text"
          formControlName="street"
          placeholder="Enter your street"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('street')?.invalid &&
            (riderCreationForm.get('street')?.dirty ||
              riderCreationForm.get('street')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('street')?.hasError('required')"
            >Street is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('street')?.hasError('minlength')"
            >It's too long! Try to make it short.</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your CNIC number:</mat-label>
        <input
          matInput
          type="text"
          formControlName="cnicNumber"
          placeholder="Enter your CNIC number"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('cnicNumber')?.invalid &&
            (riderCreationForm.get('cnicNumber')?.dirty ||
              riderCreationForm.get('cnicNumber')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('cnicNumber')?.hasError('required')"
            >CNIC number is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('cnicNumber')?.hasError('minlength')"
            >Your CNIC should be a 13 digit number</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('cnicNumber')?.hasError('pattern')"
            >Invalid CNIC format (should be 1345-6789012-3)</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter your email:</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('email')?.invalid &&
            (riderCreationForm.get('email')?.dirty ||
              riderCreationForm.get('email')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('email')?.hasError('required')"
            >Email is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('email')?.hasError('pattern')"
            >Invalid email format (should be user&#64;example.com)</ng-container
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Please Enter your password:</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          placeholder="Enter your password"
        />
        <mat-error
          *ngIf="
            riderCreationForm.get('password')?.invalid &&
            (riderCreationForm.get('password')?.dirty ||
              riderCreationForm.get('password')?.touched)
          "
        >
          <ng-container
            *ngIf="riderCreationForm.get('password')?.hasError('required')"
            >Password is required</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('password')?.hasError('minlength')"
            >Password must be at least 6 characters long</ng-container
          >
          <ng-container
            *ngIf="riderCreationForm.get('password')?.hasError('pattern')"
            >Password must contain at least one uppercase letter, one lowercase
            letter, one symbol, and one numeric value</ng-container
          >
        </mat-error>
      </mat-form-field>

      <!-- Organization -->
      <mat-form-field class="w-full">
        <mat-label>Organization</mat-label>
        <mat-select formControlName="organization">
          <mat-option value="">Select Organization</mat-option>
          <mat-option value="emaanDairy">Emaan Dairy</mat-option>
          <mat-option value="newDairy">New Dairy</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Hidden Organization ID -->
      <input type="hidden" formControlName="organizationId" />

      <mat-form-field class="w-full">
        <mat-label>Select The Role you want to give to User:</mat-label>
        <mat-select formControlName="role">
          <mat-option value="">Select A Role</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role">{{
            role
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex justify-end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="riderCreationForm.invalid"
          class="w-full md:w-auto"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
