<div class="container mx-auto px-4 py-8 max-w-2xl">
    <div class="mb-6">
 <button mat-raised-button color="primary" routerLink="/home" class="mb-4"><mat-icon>arrow_back</mat-icon> Back</button>
</div>



<div class="relative mt-11 ml-11">
    <button mat-raised-button 
            [matMenuTriggerFor]="customerMenu" 
            (mouseenter)="triggerMenu.openMenu()"
            #triggerMenu="matMenuTrigger"
            class="bg-blue-500 text-white">
            Weclome To Riders Section
            <mat-icon>arrow_drop_down_circle</mat-icon>
     
    </button>
  
    <mat-menu #customerMenu="matMenu" 
              class="hover-menu">
      <button mat-menu-item routerLink="/riders/create">
        <mat-icon>add</mat-icon>
        <span>Create Rider</span>
      </button>
      <button mat-menu-item routerLink="/riders/list">
        <mat-icon>list</mat-icon>
        <span>List Riders</span>
      </button>
    </mat-menu>
  </div>