<a routerLink="/home">Goto Home page</a><br><br>


<form [formGroup]="customerCreationForm" (ngSubmit)="onCustomerCreate()">

    <label>Enter customer's first name : </label>
    <input type="text" formControlName="firstName" required/><br><br>

    <label>Enter customer's last name : </label>
    <input type="text" formControlName="lastName" required/><br><br>

    <label>Enter customer's phone number : </label>
    <input type="tel" formControlName="phoneNumber"/><br><br>

    <label>Enter customer's address : </label>
    <input type="text" formControlName="address"/><br><br>

    <label>Ener customer's sector : </label>
    <input type="text" formControlName="sector"/><br><br>

    <label>Enter customer's Street : </label>
    <input type="text" formControlName="street"/><br><br>

    <label>Enter customer's google pin : </label>
    <input type="text" formControlName="googlePin"/><br><br>

    <label>Enter customer's home picture : </label>
    <input type="text" formControlName="homePicture"/><br><br>

    <label>Enter customer's organization : </label>
    <select formControlName="organization">
        <option value="">Select Organization</option>
        <option value="emaanDairy">Emaan Dairy</option>
        <option value="newDairy">New Dairy</option>        
    </select><br><br>

    <input type="hidden" formControlName="organizationId"/>

    <label>Enter customer's contract : </label>
    <input type="text" formControlName="contract"/><br><br>

    <label>Set customer's status : </label>
    <select formControlName="status">
        <option value="">Select status</option>
        <option value="true">Active</option>
        <option value="false">DeActive</option>

    </select><br><br>

    <button type="submit">Submit</button>
</form>