<mat-drawer-container class="h-screen w-full">
  <mat-drawer #drawer mode="over" class="w-64">
    <div class="h-full flex flex-col">
      <img src="/picture.png" class="h-24 mx-auto">
      <p class="text-xl text-center text-white">Atiq Ur Rehman</p>
      
      <div class="flex-grow flex flex-col mt-4">
        <button mat-button class="w-full text-left">Project</button>
        <button mat-button class="w-full text-left">Analytics</button>
        <button mat-button class="w-full text-left">Finance</button>
        <button mat-button class="w-full text-left">Crypto</button>
      </div>
    </div>
  </mat-drawer>
  
  <mat-drawer-content class="h-full">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>