<div class="parentdiv">

<div class="logindiv">

<form [formGroup]="loginForm" (ngSubmit)="onUserLogin()">

    <label>Please Enter your Email :  </label><br><br>
    <input type="email" formControlName="email" required/><br><br>
    @if (email?.invalid && (email?.dirty || email?.touched)) 
    {
        @if (email?.hasError('required')) {
            email is required
        }
       
    }<br><br>

    <label>Please Enter your password : </label><br><br>
    <input type="password" formControlName="password" required/><br><br>
    @if (password?.invalid && (username?.dirty || username?.touched)) 
    {
        @if(password?.hasError('required'))
        {
            password is required.
        }
        @if(password?.hasError('minLength'))
        {
             password must be at least 6 charcters long.
        }
        @if (password?.hasError('pattern')) 
        {
            Password must at least contain one upper alphabet, one lower alphabet and one symbol and one numeric value.
        }
    }<br><br>

    <button type="submit">Submit</button>
</form><br>



<button (click)="onCreateFakeUsers()">Create Fake Users</button><br><br>
</div>

<div class="quickCredentials">
    <h3>Quick Login Credentials</h3>

    <h4>ADMIN</h4>
    <div>
        <p><strong>Email:</strong> wazi&#64;gmail.com</p>
        <p><strong>Password:</strong> Ab3!qz</p>
       
      </div>

      <div >
        <h4>USER</h4>
        <p><strong>Email:</strong> atiq&#64;gmail.com</p>
        <p><strong>Password:</strong> M7x&#64;rd</p>
      </div>

      <div>
        <h4>RIDER</h4>
        
        <p><strong>Email:</strong> user&#64;gmail.com</p>
        <p><strong>Password:</strong> Zt2$hp</p>
     
      </div>
    

 
</div>
</div>

