<mat-toolbar class="border flex items-center justify-between px-2 md:px-4">
  <div class="flex items-center">
    <button mat-icon-button class="mr-2" aria-label="Toggle menu" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-lg font-semibold hidden md:block">mooToYou</span>
  </div>

  <div class="flex items-center space-x-2 md:space-x-4">
    <mat-slide-toggle class="scale-75 md:scale-100">
      Dark Mode
    </mat-slide-toggle>
    
    <button 
      mat-icon-button class="rounded-full"
      color="primary" 
      (click)="onLogOut()"
     
    >
    <mat-icon>power_settings_new</mat-icon>
    </button>
    
    <img 
      class="w-8 h-8 md:w-10 md:h-10 rounded-lg object-cover" 
      src="/assets/top.svg" 
      alt="Profile"
    >
  </div>
</mat-toolbar>